@use "Theme";

$section-spacing: 1rem;
$image-width: 20rem;
$image-height: auto;

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $section-spacing;
  margin-top: 2rem;

  .menu-column {
    border: 2px solid var(--light-grey);
    padding: $section-spacing;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    h2 {
      color: var(--teal);
      font-size: 1rem;
      margin: 0;
      text-transform: uppercase;
    }

    h4 {
      font-size: 0.9rem;
      font-weight: bold;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    p {
      font-size: 0.8rem;
      color: var(--dark-brown);
      margin: 0;
    }

    align-items: center;
    text-align: center;
  }

  .menu-column hr {
    border: 1px solid var(--medium-brown);
    margin: 0 auto; 
    width: 60%; 
    margin-top: 0.5rem;
  }

  .voorgerecht {
    grid-row: 1;
    grid-column: 1;
  }

  .hoofdgerecht {
    grid-row: 2;
    grid-column: 1;
  }

  .dessert {
    grid-row: 1;
    grid-column: 2;
  }

  .kinder-menu {
    grid-row: 2;
    grid-column: 2;
  }
}