@use "Theme";

$section-spacing: 1.25rem;
$image-width: 32.75rem;
$image-height: 47.75rem;

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: $section-spacing;
  margin-top: 3rem;
  justify-content: center;

  .menu-column {
    flex: 1;
    border: 3px solid;
    padding: $section-spacing;
    line-height: 1rem;

    hr {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.2rem;
      margin-bottom: 0.6rem;
      border-bottom: 1.5px solid #D99F6C;
    }

    h2 {
      color: #04bf9d;
      text-align: center;
      font-size: 1rem;
      margin-bottom: $section-spacing;
    }

    h3, h4 {
      font-size: 0.9rem;
      font-family: "Roboto Slab", serif;
      text-align: center;
    }

    p {
      font-size: 0.8rem;
      line-height: 1rem;
      text-align: center;
      margin-bottom: $section-spacing; 
      margin-top: 0.5rem;
    }
  }
}