:root {
    --teal: #04bf9d;
    --light-brown: #d99f6c;
    --medium-brown: #a6633c;
    --dark-brown: #40261d;
    --light-grey: #f2f2f2;
    --title-font: GoodBrush;
    --normal-font: "Roboto Slab", serif;

    @font-face {
        font-family: GoodBrush;
        src: url(../fonts/Good\ Brush.ttf);
    }

    @media (max-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    @media (max-width: 480px) {
        html {
            font-size: 14px;
        }
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--normal-font);
}

h1 {
    font-family: var(--title-font);
    color: var(--teal);
    font-size: 3rem;
}

h2 {
    font-family: var(--title-font);
    font-size: 2rem;
}

h3 {
    font-family: var(--title-font);
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}
