:root {
    --teal: #04BF9D;
    --light-brown: #D99F6C;
    --medium-brown: #A6633C;
    --dark-brown: #40261D;
    --light-grey: #F2F2F2;
    --title-font: "Good Brush", cursive;
    --normal-font: "Roboto Slab", serif;

    @media (max-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    @media (max-width: 480px) {
        html {
            font-size: 14px;
        }
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--normal-font);
}

h1 {
    font-family: var(--title-font);
    color: var(--teal);
    font-size: 3rem;
}

h2 {
    font-family: var(--title-font);
    font-size: 2rem;
}

h3 {
    font-family: var(--title-font);
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

